  <% set_meta_tags title: " 近くの大学生と出会える！", description: "近くの大学生と一緒に飲まない？近くで飲んでいる大学生と飲みたいと思った時に出会えるサイト！", keywords: '出会い, 飲み会, 大学生' %>

    <div class="py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6" >
            <h1>
            <% unless @area_name == "近くの募集一覧" %>
            <div class="btn-group dropright">
              <button type="button" class="btn btn-outline-secondary rounded btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%=@area_name%>
              </button>
              <div class="dropdown-menu">
                <%= link_to "東京", meetings_path(area: 13), class: "dropdown-item" %>
                <%= link_to "埼玉", meetings_path(area: 11), class: "dropdown-item" %>
                <%= link_to "大阪", meetings_path(area: 27), class: "dropdown-item" %>
                <%= link_to "福岡", meetings_path(area: 40), class: "dropdown-item" %>
              </div>
            </div>
            <%else%>
              <%=@area_name%>
            <%end%>
            </h1>
            <p>ヒット数：<%=@sum_meetings%>件</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section bg-light">
      <div class="container">
        <div class="row" id="row">
          <%= render partial: 'index' %>
        </div>
        <div class="row text-center pt-5 border-top">
          <div class="col-md-12">
              <%= paginate @meetings %>
          </div>
        </div>
      </div>
    </div>
