<!DOCTYPE html>
<html lang="ja">
  <% set_meta_tags title: "「どこ行くか決まらない？」 #{@area_name}の#{@category}", description: @index_description.to_s.gsub(/\r\n|\r|\n|\s|\t/, "") %>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%= canonical_tag %>
    <%= rel_next_prev_link_tags @items %>
    <link rel="icon" href="logo.png" sizes="16x16" type="image/png" />
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900", :media => "all" %>
  </head>
  <div class="site-wrap">
    <header class="site-navbar" >
      <div class="container-fluid">
        <div class="row align-items-center">
            <nav class="site-navigation" >
            <div class="site-logo">
              <%= link_to image_tag('top2.png'), root_path %>
            </div>
              <ul class="site-menu js-clone-nav mr-auto d-lg-block ">
                <li><%= link_to "全部", bars_index_path(m_area: @m_area, area_name: @area_name, category: "お店一覧", explain: "【予算3000円・飲み放題あり】"), class: "post-category text-info bg-light mb-3" %><li>
                <li><%= link_to '居酒屋', bars_index_path(free_drink: 0, genre: "G001", wifi: 0, non_smoking: @non_smoking, budget: @budget, m_area: @m_area, area_name: @area_name, category: "居酒屋一覧", explain: "【予算3000円】の店舗"), class: "post-category text-info bg-light mb-3" %><li>
                <li><%= link_to 'バル', bars_index_path(free_drink: 0,genre: "G002", wifi: 0, non_smoking: @non_smoking, budget: @budget, m_area: @m_area, area_name: @area_name, category: "バル・ダイニングバー一覧", explain: "【予算3000円】の店舗"), class: "post-category text-info bg-light mb-3" %><li>
                <li><%= link_to 'バー', bars_index_path(free_drink: 0,genre: "G012", wifi: 0, non_smoking: 0, budget: @budget, m_area: @m_area, area_name: @area_name, category: "バー一覧", explain: "【予算3000円】の店舗"), class: "post-category text-info bg-light mb-3" %><li>
              </ul>
            </nav>
        </div>
      </div>
    </header>
    <div class="py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <span><%=@area_name%></span>
            <h1><%=@category%></h1>
            <h2><%=@explain%></h2>
            <p>ヒット数：<%=@sum_items%>件</p>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section bg-white">
      <div class="container">
        <div class="row">
        <%items = @response["results"]["shop"]%>
          <%@items.each do |item|%>
            <div class="col-lg-4 mb-4">
              <div class="entry2">
                <img src="<%= item["photo"]["pc"]["l"] %>" alt="Image" class="img-fluid rounded">
                <div class="excerpt">
                <%if @genre == "G001,G002,G012"%>
                <span class="post-category text-white bg-danger mb-3"><%=  item["genre"]["name"] %></span>
                <%end%>
                <span class="post-category text-white bg-info mb-3"><%=  item["budget"]["name"] %></span>
                <%if (@genre == "G001" || @genre == "G002")&& item["free_drink"].slice(0,2) == "あり"%>
                <span class="post-category text-white bg-primary mb-3">飲み放題<%=  item["free_drink"].slice(0,2) %></span>
                <%end%>
                <%if item["non_smoking"] == "一部禁煙" || item["non_smoking"] == "全面禁煙"%>
                <span class="post-category text-white bg-secondary mb-3"><%=  item["non_smoking"] %></span>
                <%end%>
                <%if @genre == "G012" && item["midnight"] == "営業している"%>
                <span class="post-category text-white bg-primary mb-3">23時以降<%= item["midnight"] %></span>
                <%end%>
                <span class="post-category text-white bg-success mb-3"><%=  item["mobile_access"] %></span>
                <h2><a ><%=  item["name"] %></a></h2>
                <p>・飲み放題<%=  item["free_drink"] %>
                <br/>・<%=  item["budget_memo"] %>
                <br/>・wifi<%=  item["wifi"] %>
                <br/>・<%=  item["open"] %></p>
                <%= link_to '詳細をみる！',  item["urls"]["pc"] %>
                </div>
              </div>
            </div>
          <%end%>
        </div>
        <div class="row text-center pt-5 border-top">
          <div class="col-md-12">
              <%= paginate @items %>
          </div>
        </div>
    </div>
  </div>
    <div class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <h3 class="footer-heading mb-4">About Us</h3>
            <p>大学生による大学生専用の使いやすいサイトを目指します</p>
          </div>
          <div class="col-md-4">
            <h3 class="footer-heading mb-4">Contact</h3>
            <p>サービスへの要望がある場合はこちら</p>
            <p><%= mail_to "aftercampus0617@gmail.com"%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy; <script>(function(){document.write(new Date().getFullYear())});</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <%=link_to "https://colorlib.com", target: "_blank"%>Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
              <p>Powered by <%= link_to "http://webservice.recruit.co.jp/" %>ホットペッパー Webサービス</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>