<!DOCTYPE html>
<html lang="ja">
  <head>
  <% set_meta_tags noindex: true %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%= canonical_tag %>
    <link rel="icon" href="logo.png" sizes="16x16" type="image/png" />
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900", :media => "all" %>
  </head>
  <div class="site-wrap">
    <header class="site-navbar" >
      <div class="container-fluid">
        <div class="row align-items-center">
          <nav class="site-navigation" >
            <div class="site-logo">
              <%= link_to image_tag('aftercampus_wide.webp'), root_path %>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <%= form_with model: @user, html: { class: "p-5 bg-white" } do |f| %>
              <h2>マイページ編集</h2><br/>

              <br/><div class="row form-group">
                <div class="col-md-12">
                  <%= f.label :"トップ画像", :class => "text-black" %><br/>
                  <%= f.file_field :image, autocomplete: "image", :class => "form-control" %>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <%= f.label :"ユーザーネーム（最大30字）", :class => "text-black"  %><br />
                  <%= f.text_field :name, autofocus: true, autocomplete: "name", maxlength: "30", :class => "form-control" %>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <%= f.label :"性別（必須）", :class => "text-black"  %><br />
                  <%= f.radio_button :gender, "男" %>男性 <%= f.radio_button :gender, "女" %>女性
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <%= f.label :"大学（最大30字）", :class => "text-black" %><br />
                  <%= f.text_field :university, autocomplete: "university", maxlength: "30", :class => "form-control" %>
                </div>
              </div>

              <%#<div class="row form-group">
                <div class="col-md-12">
                  <%= f.label :"動画（自己紹介等、任意）", :class => "text-black" %><%#<br />#%>
                  <%#<%= f.file_field :video, autocomplete: "video", :class => "form-control" %>
                <%#</div>#%>
              <%#</div>#%>
              
              <div class="row form-group">
                <div class="col-md-12">
                  <%= f.label :"紹介文（最大300字）", :class => "text-black" %><br />
                  <%=  f.text_area :comment, autocomplete: "comment", maxlength: "250", :class => "form-control" %>
                </div>
              </div>

              <%#<div class="row form-group">
                <div class="col-md-12">
                  <%= f.label :"twitter（最大300字）", :class => "text-black" %><%#<br />
                  <%= f.url_field :twitter, autocomplete: "twitter", maxlength: "300", :class => "form-control" %>
                <%#</div>
              </div>#%>

              <div class="row form-group">
                <div class="col-md-12">
                  <%= f.label :"instagram（最大300字）", :class => "text-black" %><br />
                  <%= f.url_field :instagram, autocomplete: "instagram", maxlength: "300", :class => "form-control" %>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <%= f.label :"その他（facebook TikTok等）（最大300字）", :class => "text-black" %><br />
                  <%= f.url_field :other_link, autocomplete: "other_link", maxlength: "300", :class => "form-control" %>
                </div>
              </div>


              <div class="row form-group">
                <div class="col-md-12">
                    <%= f.submit "保存", :class => "btn btn-outline-primary"  %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <h3 class="footer-heading mb-4">About Us</h3>
            <p>大学生による大学生専用の使いやすいサイトを目指します</p>
          </div>
          <div class="col-md-4">
            <h3 class="footer-heading mb-4">Contact</h3>
          <p><%= link_to "after-campusのTwitter", "https://twitter.com/campus_after" %></p>
            <p>サービスへの要望がある場合はこちら</p>
            <p><%= mail_to "aftercampus0617@gmail.com"%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy; <script>(function(){document.write(new Date().getFullYear())});</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <%=link_to "https://colorlib.com", target: "_blank"%>Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
              <p>Powered by <%= link_to "http://webservice.recruit.co.jp/" %>ホットペッパー Webサービス</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>