<!DOCTYPE html>
<html lang="ja">
  <head>
  <% set_meta_tags noindex: true %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%= canonical_tag %>
    <link rel="icon" href="logo.png" sizes="16x16" type="image/png" />
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900", :media => "all" %>
  </head>
  <div class="site-wrap">
    <header class="site-navbar" >
      <div class="container-fluid">
        <div class="row align-items-center">
            <nav class="site-navigation" >
            <div class="site-logo">
              <%= link_to image_tag('top2.png'), root_path %>
            </div>
              <ul class="site-menu js-clone-nav mr-auto d-lg-block ">
              </ul>
            </nav>
        </div>
      </div>
    </header>
    <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-5 text-center">
            <h2>マイページ</h2>
          </div>
        </div>
        <div class="row mb-5 justify-content-center">
          <div class="col-md-5 text-center">
          <% if @user.avatar %>
            <%=image_tag @user.avatar, alt: "プロフィール画像", class: "img-fluid w-50 rounded-circle mb-4"%>
          <%end%>
            <h2 class="mb-3 h5"><%=@user.name%></h2>
            <ul class="list-unstyled success">
              <li><%=@user.gender%></li>
              <li><%=@user.university%></li>
            </ul>
            <%=@user.comment%>
            <p class="mt-5">
            <% if @user.twitter.present? %>
              <%=link_to (@user.twitter) do %>
                <span class="fab fa-twitter fa-3x"></span>
              <% end %>
            <% end %>
            <% if @user.instagram.present? %>
              <%=link_to (@user.instagram) do %>
                <span class="fab fa-instagram fa-3x"></span>
              <% end %>
            <% end %>
            <% if @user.other_link.present? %>
              <%=link_to (@user.other_link) do %>
                <span class="fas fa-link fa-3x"></span>
              <% end %>
            <% end %>
            </p>
            <button type="button" class="btn-outline-info rounded-pill"><%= link_to "編集", edit_user_path(current_user), class: "fas fa-user-edit" %></button>
            <button type="button" class="btn-outline-danger rounded-pill"><%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "fas fa-sign-out-alt"%></button>
          </div>
        </div>
      </div>
    </div>
    <div class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <h3 class="footer-heading mb-4">About Us</h3>
            <p>大学生による大学生専用の使いやすいサイトを目指します</p>
          </div>
          <div class="col-md-4">
            <h3 class="footer-heading mb-4">Contact</h3>
            <p>サービスへの要望がある場合はこちら</p>
                        <p><%= link_to "after-campusのTwitter", "https://twitter.com/campus_after" %></p>
            <p><%= mail_to "aftercampus0617@gmail.com"%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy; <script>(function(){document.write(new Date().getFullYear())});</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <%=link_to "https://colorlib.com", target: "_blank"%>Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
              <p>Powered by <%= link_to "http://webservice.recruit.co.jp/" %>ホットペッパー Webサービス</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>