<%set_meta_tags noindex: true, nofollow: true%>

    <div class="site-section bg-light">
      <div class="container">
        <div class="card text-left" style="width: w-100">
              <%#<% if meeting.image.attached? %>
                <%#<%= image_tag meeting.image, alt: "募集画像", class: "bd-placeholder-img card-img-top" %>
              <%#<% else %>
                <%#<%= image_tag ("bar1839361_640.jpg"), alt: "募集画像", class: "bd-placeholder-img card-img-top" %>
              <%#<% end %>
              <div class="card-body">
                  <h5 class="card-title">
                    <div class="post-meta align-items-center text-left clearfix">
                    <div class="post-meta align-items-center text-center clearfix">
                    <figure class="author-figure mb-0 mr-3 float-left">
                        <% if @user.image.attached? %>
                          <%= image_tag @user.image, alt: "プロフィール画像", class: "img-fluid w-50 rounded-circle mb-4" %>
                        <% else %>
                          <%= image_tag ("human.png"), alt: "プロフィール画像", class: "img-fluid w-50 rounded-circle mb-4" %>
                        <% end %>
                    </figure>
                  </h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><label for="name1">ユーザーネーム</label><br/><%=@user.name%></li>
                    <li class="list-group-item"><label for="name1">性別</label><br/><%=@user.gender%></li>
                    <li class="list-group-item"><label for="name1">大学</label><br/><%=@user.university%></li>
                    <li class="list-group-item"><label for="name1">Twitter</label><br/><%= link_to "https://twitter.com/#{@user.username}", "https://twitter.com/#{@user.username}" %></li>
                    <li class="list-group-item"><label for="name1">Instagram</label><br/><%=link_to "#{@user.twitter}", @user.twitter %></li>
                    <li class="list-group-item"><label for="name1">その他のURL</label><br/><%=link_to "#{@user.other_link}", @user.other_link %></li>
                  </ul>
              </div>
              <div class="card-footer text-center ">
              <% if @user == current_user%>
                <button type="button" class="btn-outline-info rounded-pill"><%= link_to "編集", edit_user_path(current_user), class: "fas fa-user-edit" %></button>
                <button type="button" class="btn-outline-danger rounded-pill"><%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "fas fa-sign-out-alt"%></button>
              <%end%>
                <button type="button" class="btn-outline-warning rounded-pill"><%= link_to "トップに戻る", root_path, class: "fas fa-home"%></button>
              </div>
        </div>
      </div>
    </div>