<!DOCTYPE html>
<html lang="ja">
  <head>
  <% set_meta_tags noindex: true %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%= canonical_tag %>
    <link rel="icon" href="logo.png" sizes="16x16" type="image/png" />
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900", :media => "all" %>
  </head>
  <div class="site-wrap">
    <header class="site-navbar" >
      <div class="container-fluid">
        <div class="row align-items-center">
            <nav class="site-navigation" >
            <div class="site-logo">
              <%= link_to image_tag('aftercampus_wide.png'), root_path %>
            </div>
              <ul class="site-menu js-clone-nav mr-auto d-lg-block ">
              </ul>
            </nav>
        </div>
      </div>
    </header>
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "p-5 bg-white" }) do |f| %>
              <h2>ログイン</h2><br/>
            <%= render "devise/shared/error_messages", resource: resource %>
              <%= render "devise/shared/links" %>
              

              <%#<br/><div class="row form-group">
                
                <div class="col-md-12">
                  <%= f.label :email, :class => "text-black"  %><%#<br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
                <%#</div>
              </div>#%>


              
              <%#<div class="row form-group">
                
                <div class="col-md-12">
                  <%= f.label :password, :class => "text-black" %><%#<br />
                  <%= f.password_field :password, autocomplete: "current-password", :class => "form-control" %>
                <%#</div>
              </div>#%>

              <%#<% if devise_mapping.rememberable? %>
                <%#<div class="field">
                  <%= f.check_box :remember_me %>
                  <%#<%= f.label :remember_me %>
                <%#</div>
              <% end %>


              <%#<div class="row form-group">
                <div class="col-md-12">
                    <%= f.submit "ログイン", :class => "btn btn-outline-primary"  %>
                <%#</div>
              </div>#%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <h3 class="footer-heading mb-4">Contact</h3>
            <p>サービスへの要望がある場合はこちら</p>
            <p><%= link_to "after-campusのTwitter", "https://twitter.com/campus_after" %></p>
            <p><%= mail_to "aftercampus0617@gmail.com"%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy; <script>(function(){document.write(new Date().getFullYear())});</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <%=link_to "https://colorlib.com","https://colorlib.com", target: "_blank"%>Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
              <p>Powered by <%= link_to "http://webservice.recruit.co.jp/", "http://webservice.recruit.co.jp/" %>ホットペッパー Webサービス</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>